accountant-workflow.json
{
  "name": "Vikarma-Accountant-Saga",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "accountant-process",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "invoice-calc",
              "name": "invoice_total",
              "value": "={{ $json.body.items.reduce((acc, i) => acc + (i.price * i.qty), 0) * (1 + ($json.body.tax_rate || 0.2)) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "calculator-node",
      "name": "Calculator",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "workflow",
        "operation": "get",
        "workflowId": "={{ $workflow.id }}"
      },
      "id": "audit-trail",
      "name": "Audit Logs",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "allContext",
        "options": {}
      },
      "id": "return-response",
      "name": "Respond to Agent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "main": [
        [
          {
            "node": "Audit Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Logs": {
      "main": [
        [
          {
            "node": "Respond to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "accountant-saga-v1"
  },
  "tags": ["accountant", "local-ai"]
}
